body{
    background-color: #FEFFF2;
}

.container {
    margin-top: 150px;
}

h1 {
    font-size: 28px;
    color: #2d6a4f;
}

.logout-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #eaaaa8;
}
